<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CUSTOMER {% endblock %}</title>

    <style>
        .menu ul li{
            display: inline-block;
            vertical-align: middle;
            padding: 5px 15px;
            
        }
        .menu ul li a{
            color: #333;
        }
    </style>

</head>
<body>

    <center>
        <h1>Welcome Customer</h1>
        
        <div class="menu">
            <ul>
                <li><a href="/cusproduct">Product</a></li>
                <li><a href="/review">Review</a></li>
                <li><a href="/">My Order</a></li>
            </ul>
        </div>
    </center>

    {% block content %}{% endblock %}
</body>
</html>