{% extends "base.html" %}
{% block title %} Product update  {% endblock %}
{% block content %}

    <center>
        <table border="1" cellspacing="10" cellpadding="10" style="border-collapse: collapse;">
            <thead>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Offer</th>
                <th>image</th>
                <th>Actions</th>
            </thead>
            {% for i in ob %}
            <tr>
                <td>{{i.productname}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.price}}</td>
                <td>{{i.offer}}</td>
                <td><img src="{{i.item}}" height="100" width="100" ></td>
                <td>
                    <a href="/edit/{{i.id}}">Edit</a> 
                    <a href="/delete/{{i.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>

{% endblock %}