<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <table border="2" style="border-collapse: collapse;">
        <thead>
            <th>token number</th>
            <th>position</th>
            <th>number of seats</th>
            <th>photo</th>
            <th>status</th>
        </thead>
    </table>
</center>
</body>
</html>